body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

#gridMap {
  margin:auto;
  width: 250px;
  height: auto;
}

.grid-cell {
  background-color: #e0e0e0;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  aspect-ratio: 1/1;
}
.selected{
    background-color: red;
    color:white;
}